.frineds-screen {
  overflow-y: auto;
}

.frineds-screen__list {
  margin-top: 25px;
  border-top: var(--stick-border);
  padding-top: 15px;
}

.frineds-screen__list-header {
  margin-bottom: 15px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--gray-color);
}

.frineds-screen__list-header:first-child {
  border-bottom: var(--stick-border);
}
