body.friends-bg {
  background-color: var(--background-color);
}

.frineds-screen {
  overflow-y: auto;
}

.frineds-screen__list {
  margin-top: 25px;
  border-top: var(--stick-border);
  padding-top: 15px;
}

.friends-screen__list-channel,
.friends-screen__friends-list {
  color: var(--gray-color);
}

.friends-screen__list-header {
  display: flex;
  margin: 10px 0px;
  color: var(--gray-color);
}

.frineds-screen__list-header:first-child {
  border-bottom: var(--stick-border);
}
