#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.7);
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.frineds-screen__list {
  margin-top: 25px;
  border-top: var(--stick-border);
  padding-top: 15px;
}

.frineds-screen__list-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.frineds-screen__list-header:first-child {
  padding-bottom: 25px;
  border-bottom: var(--stick-border);
}
