@import "../styles/Login.css";
@import "../styles/components/status-bar.css";
@import "../styles/components/screen-header.css";
@import "../styles/components/user-component.css";
@import "../styles/components/nav-bar.css";
@import "../styles/components/badge.css";

:root {
  --basic-color: #f66845;
  --background-color: #f7f0e4;
  --brown-color: #a58164;
  --horizontal-space: 25px;
  --basic-font-size: 20px;
  --stick-border: 1px solid rgba(26, 19, 19, 0.2);
  --black-color: #2e363e;
}

body {
  font-family: "Jua", sans-serif;
}
